.alineado-centro {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.w-18rem {
    width: 18rem;
}

.card-bottom {
    display: flex;
    justify-content: space-between
}

.functions i {
    font-size: 1.5rem;
}

.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.close-button-box {
    display: flex;
    justify-content: space-between;
}

.info-text {
    width: 90%;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.2;
    /* Ajusta este valor según lo necesario */
}

@media only screen and (max-width: 992px) {
    .food-img-main-card {}

}

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}