body {
  background-color: #282c34;
}

.cart-button-fixed {
  position: fixed;
  bottom: 12%;
  right: 5%;
  color: red;
  border-color: rgb(81, 104, 255);
  padding: 1.2rem;
  background-color: white;
  z-index: 50;
  border-radius: 50%;
  border-color: black;
  border-width: 3px;
}

.cart-button-fixed:hover {
  position: fixed;
  bottom: 12%;
  right: 5%;
  color: red;
  border-color: rgb(81, 104, 255);
  padding: 1.2rem;
  background-color: rgb(220, 220, 220);
  z-index: 50;
  border-radius: 50%;
  border-color: black;
  border-width: 3px;
}

.cart-button-fixed i {
  font-size: 2.5rem;
}

/* Media query para ajustar el diseño en pantallas más grandes */
@media only screen and (min-width: 992px) {
  body {
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: #282c34;
  }

  .cart-button-fixed,
  .cart-button-fixed:hover {
    right: 35%;
    bottom: 10%;
  }
}