body {
  background-color: #282c34;
}

/* Media query para ajustar el diseño en pantallas más grandes */
@media only screen and (min-width: 992px) {
  body {
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: #282c34;
  }
}
