.btn-position {
    display: flex;
    justify-content: flex-end
}

.lang-icon {
    height: 2rem;
    margin-bottom: 5px;
}

.align-right {
    text-align: -webkit-right;
}

.fontsize-3rem {
    transform: scale(1.8);
}

ul {
    --bs-dropdown-min-width: none !important;
    padding: var(--bs-dropdown-padding-y) 5px !important;
}
