.title {
    background-color: yellow;
    font-family: fantasy;
    font-size: 2rem;
}

.sub-title {
    background-color: rgb(244, 255, 181);
    font-family: fantasy;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
}

.pb-3rem {
    padding-bottom: 3rem;
}